@import "../../utilities/variables.scss";

.login-component {
  width: 100%;
  height: 90vh;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;

  .login-image {
    max-width: 100%;
    width: 600px;
  }

  .log {
    h1 {
      text-transform: uppercase;
      color: $default-color;
      font-size: 2.8rem;
      margin-bottom: 10px;
    }

    .user-icon {
      color: $default-color;
      font-size: 4rem;
      margin-bottom: 20px;
    }

    p {
      color: $default-color;
    }
  }

  form {
    display: grid;

    input {
      width: 500px;
      height: 50px;
      margin-bottom: 20px;
    }

    .btn-submit {
      width: 120px;
      text-align: center;
      padding: 13px;
      text-transform: uppercase;
      background-color: $default-color;
      color: $default-color;
      text-decoration: none;
      margin-bottom: 10px;
      margin-top: -15px;

      &:hover {
        transition: .8s;
        opacity: 0.8;
        cursor: pointer;
      }
    }
  }
}
