@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


$font-default: 'Montserrat', sans-serif;
$default-color: #2E8BC0;
$text-color: #ffffff;
$shadow-effect: 5px 5px 50px rgba(0,0,0,0.20);
$warn-color: #e71d1d;
$footer-comun: #ebe8e8;