@import "../utilities/variables.scss";

.home-component {
  width: 80%;
  margin: 0 auto;

  .promotion-section {
    position: relative;
    top: 125px;
  }

  .advantages-section {
    position: relative;
    top: 135px;
    display: grid;
    grid-template-columns: repeat(4, 330px);
    gap: 50px;

    .advantages {
        display: flex;
        background-color: $default-color;
        padding: 20px;
        border-radius: 10px;
        box-shadow: $shadow-effect;
        
        
        .icon {
            font-size: 2rem;
            margin-right: 20px;
            color: $text-color;
        }

        h3 {
            font-weight: 400;
            color: $text-color;
            position: relative;
            top: 5px;
            font-size: 1rem; 
        }
    }
  }

  h1 {
    position: relative;
    top: 150px;
    font-weight: 400;
    font-size: 1.4rem;
  }

  .daily-offers-section {
    background-color: #2E8BC0;
    height: 100vh;
    position: relative;
    top: 160px;
  }

  .ofertas {
    width: 100%;
    position: relative;
    top: 180px;
    margin-bottom: 40px;
  }
}
